@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">قائمة الموردين</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Supplier" asp-action="New" class="btn btn-primary">
                <i class="bi bi-file-plus"></i> &nbsp; اضافة مورد جديد
            </a>
        </div>
        <div class="row">
            <form class="d-flex">
                <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search"></input>
                <button class="btn btn-dark" type="submit"> بحث بالاسم</button>
            </form>

        </div>

    </div>
    <table class="table table-hover" id="tree-table">
        <thead>
            <tr>
                <th scope="col">اسم المورد</th>
                <th scope="col">رقم البطاقة</th>
                <th scope="col">رقم التليفون</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var Supplier in Model)
            {

                <tr class="table-primary">
                    <td scope="row" width="50%">
                        @Supplier.SupplierName
                    </td>
                    <td width="50">@Supplier.IdNo</td>
                    <td width="50">@Supplier.Phone</td>
                    <td>

                        <a asp-controller="Supplier" asp-action="Edit" asp-route-SupplierId="@Supplier.SupplierId" class="btn btn-success">
                            <i class="bi bi-pencil-square"></i>
                        </a>


                        &nbsp;
                        <a asp-controller="Supplier" asp-action="Delete" asp-route-SupplierId="@Supplier.SupplierId" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>


                    </td>

                </tr>
            }
        </tbody>


    </table>
</div>
